<aside class="sidebar">
  <div class="sidebar-header">
    <span class="label">Módulos</span>
  </div>

  <nav class="menu">
    <a routerLink="/clientes" routerLinkActive="active" class="item">
      <span class="icon">👤</span>
      <span>Clientes</span>
    </a>

    <a routerLink="/personal" routerLinkActive="active" class="item">
      <span class="icon">💆‍♀️</span>
      <span>Personal</span>
    </a>

    <a routerLink="/servicios" routerLinkActive="active" class="item">
      <span class="icon">✨</span>
      <span>Servicios</span>
    </a>

    <a routerLink="/citas" routerLinkActive="active" class="item">
      <span class="icon">📅</span>
      <span>Citas</span>
    </a>
  </nav>
</aside>
