.footer {
  width: 100%;
  text-align: center;
  background: #F5E1E0;
  padding: 15px 0;
  color: #0F1628;
  font-size: 14px;
  margin-top: 20px;
  border-top: 2px solid #BD8D89;
}

.version {
  font-size: 12px;
  color: #7F6169;
}
